html{
    scroll-behavior: smooth;
}



.file-select {          
    position: relative;
    display: inline-block;
  }
   
  .file-select::before {
    background-color: black;
    color:white;
    font-weight: bolder;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 20px;
    content: 'Seleccionar imagen'; /* testo por defecto */
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;                
  }
   
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;            
  }
   
  
   













.azulito{
    background-color: #1B4F72;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    .flotante3{
            display:scroll;
            position:fixed;
            bottom:300px;
            left:5px;
            z-index: 3;
    }

    .flotante {
        display:scroll;
            position:fixed;
            bottom:300px;
            left:5px;
            z-index: 3;
    }

    .flotante2 {
        display:scroll;
            position:fixed;
            bottom:40px;
            right:30px;
            z-index: 3;
    }

    .circle {
        width: 50px;
        height: 50px;
        background: rgb(246, 156, 85);
        border-radius: 50%;
     }


    .centradito{
        display: flex;
        align-items: center;
    }





.hidden{
    display: none;
}

     .tarjeta {
        cursor: pointer;
        /* Determinamos la trasicion de los efectos */
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        -o-transition: -o-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        }
        
        /* Determinamos los grados de la rotación de la tarjeta */
        .tarjeta.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        }
        
        /* */
        .tarjeta .front,
        .tarjeta .back {
        display: block;
        /*visibility hidden para esconder una cara mientras se muestra la otra */
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        }
        
        /*Determinamos los estilos deseados en la cara de atras de la tarjeta*/
        .tarjeta .back {
        /* Animacion para rotar la cara trasera */
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        }
        
        /*Determinamos los estilos deseados en la cara de delantera de la tarjeta*/ 